// Block: container-contacts

.container-contacts {
  margin-top: $spacer;
  padding-top: $spacer;
  min-height: $spacer * 15;
  background: $theme-color-main;
  color: $theme-color-main-contrast;

  // Element: container-contacts-phone
  // Element: container-contacts-email
  h1 {
    color: $theme-color-main-contrast;
  }

  &-phone,
  &-email {
    font-size: 1.8rem;
    padding: $spacer;
    border-radius: $border-radius;
    background-color: $theme-color-main;
    transition: background-color 0.3s ease;

    @include media-breakpoint-up(md) {
      font-size: 1.5rem;
    }

    &:hover {
      background-color: $theme-color-main-contrast;

      a, i {
        color: $theme-color-main;
      }
    }
  }

  & a {
    color: $theme-color-main-contrast;
    text-decoration: none;
  }
}
