<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>A propos</h1>
        </div>
        <div class="col-sm-12 col-md-12">
            <p>
              Gwendael Frin, coiffeur maquilleur diplômé, se déplace à domicile et pour vos événements, mariage, soirée, shooting photo…
            </p>
            <p>
              Dynamique et à l’écoute, mon objectif est de satisfaire au mieux vos envies et vos besoins, en adaptant coupe, coiffure et maquillage à la morphologie et la personnalité de chacun et chacune.
            </p>
        </div>
    </div>
</section>
