<h4 class="no-margin-top">Chignons</h4>
<ul class="list-group">
  <li class="list-group-item">
    Chignon
    <span class="badge badge-pill">45€ à 60€</span>
  </li>
  <li class="list-group-item">
    Chignon mariée
    <span class="badge badge-pill">75€ à 100€</span>
  </li>
  <li class="list-group-item">
    Essai + jour j
    <span class="badge badge-pill">130€ à 160€</span>
  </li>
  </li>
  <li class="list-group-item">
    Essai supplémentaire
    <span class="badge badge-pill">30€</span>
  </li>
</ul>
<h4>Maquillage</h4>
<ul class="list-group">
  <li class="list-group-item">
    Jour
    <span class="badge badge-pill">45€</span>
  </li>
  </li>
  <li class="list-group-item">
    Soirée
    <span class="badge badge-pill">60€ à 80€</span>
  </li>
  <li class="list-group-item">
    Mariée
    <span class="badge badge-pill">100€</span>
  </li>
  <li class="list-group-item">
    Essai + jour j
    <span class="badge badge-pill">180€</span>
  </li>
</ul>
