<h4 class="no-margin-top">Coupes</h4>
<ul class="list-group">
  <li class="list-group-item">
    Coupe
    <span class="badge badge-pill">30€</span>
  </li>
  <li class="list-group-item">
    Coupe + Brushing
    <span class="badge badge-pill">40€</span>
  </li>
</ul>
<h4>Couleurs</h4>
<ul class="list-group">
  <li class="list-group-item">
    Racines
    <span class="badge badge-pill">20€ (-5€ si coupe)</span>
  </li>
  <li class="list-group-item">
    Racines + longueurs
    <span class="badge badge-pill">25€ (-5€ si coupe)</span>
  </li>
</ul>
<h4>Mèches</h4>
<ul class="list-group">
  <li class="list-group-item">
     Flash
    <span class="badge badge-pill">15€</span>
  </li>
  <li class="list-group-item">
     Demi-tête
    <span class="badge badge-pill">25€</span>
  </li>
  <li class="list-group-item">
     Tête entière
    <span class="badge badge-pill">35€</span>
  </li>
  <li class="list-group-item">
     Voiles
    <span class="badge badge-pill">30€</span>
  </li>
  <li class="list-group-item">
     Patines
    <span class="badge badge-pill">15€</span>
  </li>
</ul>
